/* 
===============================================
    Importação de fontes externas
===============================================
*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/* 
===============================================
    Variáveis Globais (Cores e Fontes)
===============================================
*/
:root {
    --cor-primaria: #282a30;
    --cor-secundaria: #FFF6E0;
    --cor-terciaria: #D8D9DA;
    --cor-hover: #61677A;
    --cor-btmenu: #121418;
    --cor-menurodape: rgba(0, 0, 0, 0.5);
    --cor-hover-menu: rgba(255, 255, 255, 0.192);

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;

    /* Variáveis para tamanhos de fonte */
    --fonte-titulo-principal: 1.75rem; /* Título principal */
    --fonte-titulo-secundario: 1.5rem; /* Título secundário */
    --fonte-texto: 1rem; /* Texto normal */
    --fonte-menu: 1.5rem; /* Tamanho da fonte do menu */
    --fonte-rodape: 1rem; /* Tamanho da fonte do rodapé */
}

/* 
===============================================
    Reset de estilos globais
===============================================
*/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 
===============================================
    Estilos para o body (corpo da página)
===============================================
*/
body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* 
===============================================
    Seção Cabeçalho
===============================================
*/
/* Estilos para o cabeçalho e menu de navegação */
.cabecalho {
    background-color: var(--cor-menurodape);
    padding: 1rem 0; /* Apenas padding vertical, para evitar altura fixa */
    box-sizing: border-box;
}

.cabecalho__container {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    height: auto; /* Permite que a altura do cabeçalho se ajuste ao conteúdo */
}

.cabecalho__menu {
    display: flex;
    gap: 2rem;
    justify-content: center; /* Garante que os itens do menu estejam centralizados */
}

.cabecalho__menu__link {
    color: var(--cor-secundaria);
    text-decoration: none;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease-in-out;
}

.cabecalho__menu__link:hover {
    background-color: var(--cor-hover-menu);
}

/* 
===============================================
    Seção Apresentação
===============================================
*/
.apresentacao {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo da seção */
    align-items: center;
    padding: 5% 15%;
    gap: 5rem;
    flex-wrap: wrap; /* Permite que os itens se ajustem em telas menores */
}

.apresentacao__conteudo {
    flex: 1;
    margin-right: 2rem;
}

.apresentacao__conteudo__titulo {
    font-size: var(--fonte-titulo-principal);
    font-family: var(--fonte-primaria);
    margin-bottom: 1.5rem;
    text-align: left;
}

.apresentacao__conteudo__texto {
    font-size: var(--fonte-texto);
    font-family: var(--fonte-secundaria);
    margin-bottom: 2rem;
    text-align: left;
}

/* Estilo da imagem de perfil */
.imagem-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.apresentacao__imagem {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

/* 
===============================================
    CARDS
===============================================
*/

.card {
    background-color: #000; /* Fundo preto */
    color: #fff; /* Texto branco */
    padding: 1.5rem;
    border-radius: 0.75rem;
    width: 80%; /* Ocupar 80% da largura do contêiner pai */
    max-width: 800px;
    font-family: 'Courier New', monospace;
    overflow: hidden; /* Impede que o conteúdo saia do card */
}

.card .flex-1 {
    flex: 1;
    margin-right: 2rem; /* Espaçamento entre o texto e a imagem */
}

/* Imagem dentro do card */
.card .imagem-perfil {
    flex: 0 0 150px; /* Ajusta a largura da imagem */
    height: auto; /* Permite que a altura se ajuste */
    border-radius: 50%;
    overflow: hidden; /* Esconde qualquer conteúdo que saia do contêiner */
}

.card .imagem-perfil img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    height: auto; /* Mantém a proporção */
    border-radius: 50%;
}

.card .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .w-3 {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
}

.bg-red-500 {
    background-color: #ff0000; /* Vermelho */
}

.bg-yellow-500 {
    background-color: #f2c200; /* Amarelo */
}

.bg-green-500 {
    background-color: #00b300; /* Verde */
}

.card__image {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

/* 
===============================================
    Seção Botões
===============================================
*/
.apresentacao__links {
    width: 100%; /* Faz com que a seção de links ocupe uma nova linha abaixo dos outros itens */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    /* margin-top: 0.2rem; */
}

.apresentacao__links__subtitulo {
    text-align: center; /* Centraliza o subtítulo */
}

.button {
    position: relative;
    display: inline-block;
    padding: 1px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--cor-secundaria);
    background-color: #1f2937;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    border-radius: 1rem;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
    width: 200px;
    height: 50px;
    text-align: center;
}

.button:hover {
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.95);
}

.button-bg {
    position: absolute;
    inset: 0;
    border-radius: 1rem;
    background: linear-gradient(to right, #38b2ac, #4299e1, #805ad5);
    padding: 2px;
    opacity: 0;
    transition: opacity 0.5s;
}

.button:hover .button-bg {
    opacity: 100;
}

.button-content {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 1rem;
    background-color: var(--cor-btmenu);
    width: 100%;
    height: 100%;
}

.button-content img {
    width: 1.5rem;
    height: 1.5rem;
}

/* 
===============================================
    Seção Rodapé
===============================================
*/
.rodape {
    color: var(--cor-secundaria);
    background-color: var(--cor-menurodape);
    padding: 1.5rem;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-rodape);
    font-weight: 400;
    margin-top: auto;
}

/* 
===============================================
    Seção Tabs (abas)
===============================================
*/
.tabs {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 10%;
    width: 200px;
}

.tabs button {
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    border: none;
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-menu);
    padding: 1rem;
    cursor: pointer;
    transition: color 0.3s, border-left 0.3s;
    text-align: left;
    width: 100%;
    border-left: 3px solid transparent;
}

.tabs button:hover,
.tabs button.active {
    color: var(--cor-secundaria);
    border-left: 3px solid var(--cor-secundaria);
}

.tab-content {
    display: none;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    width: calc(100% - 220px);
}

.tab-content.active {
    display: block;
    opacity: 1;
    transform: translateX(0);
}

/* 
===============================================
    Media Queries (Responsividade)
===============================================
*/

/* Para telas menores que 1200px */
@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }
    .cabecalho__menu {
        justify-content: center; /* Garante que o menu esteja centralizado horizontalmente */
    }
    .apresentacao {
        flex-direction: column;
        padding: 5%;
        align-items: center;
        gap: 5rem;
    }
    .apresentacao__conteudo {
        width: auto;
    }
    .apresentacao__imagem {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
    .tabs {
        flex-direction: row;
        width: 100%;
        overflow-x: auto;
        position: static;
        top: auto;
    }
    .tabs button {
        border-left: none;
        border-bottom: 3px solid transparent;
    }
    .tabs button:hover,
    .tabs button.active {
        border-bottom: 3px solid var(--cor-secundaria);
    }
    .tab-content {
        width: 100%;
        transform: translateY(50px);
    }
    .tab-content.active {
        transform: translateY(0);
    }
}

/* Para telas menores que 768px */
@media (max-width: 768px) {
    .cabecalho__menu {
        flex-direction: row; /* Mantém os itens do menu em linha */
        justify-content: center; /* Garante que o menu esteja centralizado horizontalmente */
        gap: 1rem; /* Espaçamento entre os itens */
    }

    .cabecalho__menu__link {
        font-size: var(--fonte-texto); /* Ajusta o tamanho da fonte */
        white-space: nowrap; /* Evita que os itens do menu se movam para a próxima linha */
    }

    .apresentacao {
        padding: 5%;
    }
    .tabs {
        width: 100%;
    }
    .apresentacao__imagem {
        max-width: 250px;
    }

    .card .imagem-perfil {
        flex: 0 0 100px; /* Ajuste a largura da imagem em telas menores */
    }
}

/* Para telas menores que 480px */
@media (max-width: 480px) {
    .cabecalho {
        padding: 0.5rem;
    }
    .cabecalho__menu__link {
        font-size: var(--fonte-texto);
    }
    .apresentacao__conteudo__titulo {
        font-size: var(--fonte-titulo-secundario);
    }
    .tabs {
        flex-direction: column; /* Muda a direção das abas para coluna */
    }
    .tabs button {
        padding: 0.5rem;
        font-size: var(--fonte-texto);
    }
}

/* Para telas menores que 375px (ex: iPhone X) */
@media (max-width: 375px) {
    .cabecalho {
        padding: 0.5rem; /* Reduz o padding do cabeçalho */
    }

    .cabecalho__menu {
        flex-direction: column; /* Coloca os itens do menu em coluna */
        align-items: center; /* Centraliza os itens do menu */
        gap: 0.5rem; /* Reduz o espaçamento entre os itens */
        font-size: var(--fonte-texto); /* Ajusta o tamanho da fonte */
    }

    .apresentacao {
        padding: 5%;
        flex-direction: column; /* Mantém o layout em coluna */
        align-items: center; /* Centraliza o conteúdo */
    }

    .apresentacao__imagem {
        max-width: 200px; /* Reduz o tamanho da imagem */
    }

    .card .imagem-perfil {
        flex: 0 0 80px; /* Ajuste a largura da imagem no card */
    }

    .button {
        width: 150px; /* Ajusta o tamanho do botão */
        height: 40px; /* Ajusta a altura do botão */
    }
}

