@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #272829;
    --cor-secundaria: #FFF6E0;
    --cor-terciaria: #D8D9DA;
    --cor-hover: #61677A;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    min-height: 100vh; /* Garante que o conteúdo ocupe pelo menos 100% da altura da tela */
    display: flex;
    flex-direction: column;
}


.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 5rem; /* 80px assuming 1rem = 16px */
    justify-content: flex-start;
}




.cabecalho__menu {
    position: relative; /* Necessário para posicionar a borda */
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    position: relative; /* Necessário para posicionar a borda */
    padding-bottom: 5px; /* Adiciona um espaço na parte inferior para a borda */
    transition: color 0.3s ease; /* Transição suave para a cor */
}

.cabecalho__menu__link:hover,
.cabecalho__menu__link.active {
    color: var(--cor-secundaria);
}

.cabecalho__menu__link:hover::after,
.cabecalho__menu__link.active::after {
    content: '';
    position: absolute;
    left: 0; /* Posiciona a borda à esquerda */
    right: 0; /* Faz a borda ocupar toda a largura */
    bottom: 0; /* Posiciona a borda na parte inferior */
    height: 3px; /* Altura da borda */
    background-color: var(--cor-secundaria); /* Cor da borda */
}

.cabecalho__menu__link.active {
    font-weight: 700; /* Para destacar ainda mais o link ativo */
}

.cabecalho__menu__link.active::after {
    background-color: var(--cor-secundaria); /* A cor da borda ativa */
}



.apresentacao {
    padding: 5% 15%; /* Reduz o padding superior */
    display: flex;
    align-items: flex-start; /* Alinha os itens ao topo */
    justify-content: space-between;
    gap: 5.125rem; /* 82px */
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem; /* 40px */
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    text-align: justify;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-align: justify;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem; /* 32px */
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 1rem; /* 16px */
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 0.5rem; /* 8px */
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.375rem 0; /* 22px */
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    transition: background-color 0.3s ease;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__imagem {
    align-self: flex-start; /* Alinha a imagem no topo, em vez de centralizada verticalmente */
    margin-top: 0; /* Remove qualquer margem superior adicional */
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 1.5rem; /* 24px */
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 400;
    margin-top: auto; /* Garante que o rodapé se mova para o final da página */
    position: relative; /* Para evitar que ele suba com o conteúdo */
}

.cabecalho__menu__link:hover {
    color: var(--cor-hover); /* Altera a cor ao passar o mouse */
    font-weight: 700; /* Aumenta o peso da fonte ao passar o mouse */
    transition: color 0.3s ease, font-weight 0.3s ease; /* Anima a transição */
}

/* Estilo das abas do projeto (Tabs) */
.tabs {
    display: flex;
    flex-direction: column;
    position: sticky; /* Fixa a posição dos botões na rolagem */
    top: 10%; /* Ajusta a distância do topo */
    width: 200px; /* Largura fixa para os botões */
}

.tabs button {
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    border: none;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    padding: 1rem;
    cursor: pointer;
    transition: color 0.3s, border-left 0.3s;
    text-align: left; /* Alinha o texto à esquerda */
    width: 100%; /* Faz com que os botões ocupem toda a largura da div */
    border-left: 3px solid transparent; /* Espaço para a borda de destaque */
}

.tabs button:hover, .tabs button.active {
    color: var(--cor-secundaria);
    border-left: 3px solid var(--cor-secundaria);
}

/* Conteúdo de cada projeto */
.tab-content {
    display: none;
    opacity: 0;
    transform: translateX(-50px); /* Efeito de deslizamento da esquerda para a direita */
    transition: opacity 0.5s ease, transform 0.5s ease;
    width: calc(100% - 220px); /* Ajusta a largura considerando a largura das abas + gap */
}

.tab-content.active {
    display: block;
    opacity: 1;
    transform: translateX(0);
}



@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }
    .cabecalho__menu {
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
        align-items: center; /* Centraliza o conteúdo na direção do eixo principal */
        gap: 5rem; /* Ajustar conforme necessário */
    }
    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__imagem {
        width: 100%; /* Faz com que a imagem ocupe toda a largura disponível */
        max-width: 300px; /* Define um limite para o tamanho da imagem */
        margin: 0 auto; /* Centraliza a imagem horizontalmente */
    }

    .tabs {
        flex-direction: row;
        width: 100%;
        overflow-x: auto;
        position: static; /* Remove o sticky */
        top: auto;
    }
    .tabs button {
        border-left: none;
        border-bottom: 3px solid transparent;
    }
    .tabs button:hover, .tabs button.active {
        border-bottom: 3px solid var(--cor-secundaria);
        border-left: none;
    }
    .tab-content {
        width: 100%;
        transform: translateY(50px);
    }
    .tab-content.active {
        transform: translateY(0);
    }
}


@media (max-width: 768px) {
    .cabecalho {
        padding: 15%;
    }
    .cabecalho__menu {
        flex-wrap: nowrap; /* Evita que o menu quebre linha */
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column-reverse;
        align-items: center; /* Centraliza o conteúdo na direção do eixo principal */
        padding: 5%;
    }
    .apresentacao__links__navegacao {
        width: 80%;
    }

    .apresentacao__imagem {
        width: 100%; /* Faz com que a imagem ocupe toda a largura disponível */
        max-width: 300px; /* Define um limite para o tamanho da imagem */
        margin: 0 auto; /* Centraliza a imagem horizontalmente */
    }
    
    .tabs {
        flex-direction: row;
        width: 100%;
        overflow-x: auto;
        position: static;
    }
    .tabs button {
        border-left: none;
        border-bottom: 3px solid transparent;
    }
    .tabs button:hover, .tabs button.active {
        border-bottom: 3px solid var(--cor-secundaria);
        border-left: none;
    }
    .tab-content {
        width: 100%;
        transform: translateY(50px);
    }
    .tab-content.active {
        transform: translateY(0);
    }
    
}
